body {
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond',serif;
    transition: background-color 0.6s ease-in-out;
}

.container-read {
    background: linear-gradient(to bottom, #e6f8fa, #6be1f6);
    min-height: 100vh;
    transition: background-color 0.6s ease-in-out;
    padding: 2rem;
}

.container-edit {
    background: linear-gradient(to bottom, #fcecc5, #ffbb00);
    min-height: 100vh;
    transition: background-color 0.6s ease-in-out;
    padding: 2rem;
}

.container-start {
    background: linear-gradient(to bottom, #f9eccb, #ffbb00);
    min-height: 100vh;
    padding: 2rem;
    transition: background-color 0.6s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.upload-btn {
    background-color: #f8e49c;
    color: #000000;
    padding: 12px 24px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 2px 10px #ffbb00d0;
    transition: all 0.3s ease-in-out;
}
.upload-btn2 {
    background-color: #f8e49c;
    color: #000000;
    padding: 12px 24px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.upload-btn:hover {
    transform: scale(1.05);
    background-color: #ffd55a;
    /* slightly brighter yellow */
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
}
.upload-btn:active {
    transform: scale(0.97);
}

.mode-transition {
    animation: openEye 0.5s ease-in-out;
}
input,
button,
label,
table,
th,
td,
h1,
h2,
h3,
p{
    font-family: 'EB Garamond', serif;
}

th,
td {
    border: 1px solid #000000;
    padding: 5px;
    font-size: 1.4rem;
}
td input {
    font-size: 1.3rem;
    padding: 6px;
}
@keyframes openEye {
    0% {
        transform: scaleY(0.8);
        opacity: 0.3;
    }

    50% {
        transform: scaleY(1.05);
        opacity: 1;
    }

    100% {
        transform: scaleY(1);
    }
}
